{% extends 'staff/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block page_title %}
Dashboard Overview
{% endblock %}

{% block content %}

<div class="row g-4">

    <div class="col-md-3">
        <div class="stat-card">
            <h6>Total Customers</h6>
            <h2>{{ total_customers }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h6>Total Deposits</h6>
            <h2>${{ total_deposits|floatformat:2 }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h6>Total Transfers</h6>
            <h2>${{ total_transfers|floatformat:2 }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h6>Pending KYC</h6>
            <h2>{{ pending_kyc }}</h2>
        </div>
    </div>

</div>

<div class="card mt-4 border-0 shadow-sm">
    <div class="card-body">
        <h5>Recent Transactions</h5>

        <table class="table align-middle">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                {% for tx in recent_transactions %}

                <tr>

                    <td>{{ tx.user.get_full_name|default:tx.user.username }}</td>

                    <td>{{ tx.transaction_type|title }}</td>

                    <td>
                        {% if tx.direction == "credit" %}
                            <span class="text-success">+ ${{ tx.amount }}</span>
                        {% else %}
                            <span class="text-danger">- ${{ tx.amount }}</span>
                        {% endif %}
                    </td>

                    <td>
                        {% if tx.status == "success" %}
                            <span class="badge bg-success">Completed</span>
                        {% elif tx.status == "pending" %}
                            <span class="badge bg-warning text-dark">Pending</span>
                        {% else %}
                            <span class="badge bg-danger">Failed</span>
                        {% endif %}
                    </td>

                </tr>

                {% empty %}

                <tr>
                    <td colspan="4" class="text-center text-muted">
                        No transactions yet
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}