{% extends 'staff/base.html' %}

{% block content %}

<div class="dashboard-card">

    <h3>KYC Requests</h3>

    <!-- FILTER -->
    <div class="mb-3">

        <a href="?status=pending" class="btn btn-warning btn-sm">Pending</a>
        <a href="?status=approved" class="btn btn-success btn-sm">Approved</a>
        <a href="?status=rejected" class="btn btn-danger btn-sm">Rejected</a>
        <a href="{% url 'staff:kyc_requests' %}" class="btn btn-dark btn-sm">All</a>

    </div>

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for kyc in kyc_requests %}

            <tr>

                <td>{{ kyc.full_name }}</td>

                <td>{{ kyc.email }}</td>

                <td>
                    <span class="badge status-{{ kyc.status }}">
                        {{ kyc.status|title }}
                    </span>
                </td>

                <td class="local-time" data-utc="{{ kyc.created_at|date:'c' }}">{{kyc.created_at}}</td>

                <td>

                    <a href="{% url 'staff:kyc_detail' kyc.pk %}" class="btn btn-sm btn-primary">
                        View
                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}