{% load static %}
<!-- Footer Start -->
<footer class="main-footer bg-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <!-- About Footer Start -->
                <div class="about-footer">

                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="{% static 'frontend/custom/firsthavin-logo-white.png' %}" width="300px" alt="">

                        <p class="text-white mt-2 p-2">
                            Our mission at First Havin Bank is to be a trusted financial partner across the diverse communities we serve.
                            We are committed to meeting the consumer, commercial, and retail banking needs of individuals and businesses
                            from all backgrounds. With a diverse team of dedicated professionals, we deliver personalized services in
                            multiple languages in a friendly, efficient, and respectful manner. We uphold the highest standards of
                            integrity, service, and financial soundness in everything we do.
                        </p>
                    </div>
                    <!-- Footer Logo End -->

                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>solutions</h3>
                    <ul>
                        <li><a href="{% url 'account:register' %}">Quick Account Opening</a></li>
                        <li><a href="{% url 'frontend:contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'frontend:terms' %}">Terms of Service</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Loans & Insurance</h3>
                    <ul>
                        <li><a href="{% url 'frontend:loans' %}">Business Loan</a></li>
                        <li><a href="{% url 'frontend:loans' %}">Automobile Refinancing</a></li>
                        <li><a href="{% url 'frontend:mortgages' %}">Mortgage Plans</a></li>
                        <li><a href="{% url 'frontend:insurance' %}">Core Insurance Program</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <p class="text-white">
                                <a href="#" class="mx-2"><i class="fa fa-map-marker"></i></a>
                                189 Marsh Wall, London E14 9SH, United Kingdom
                            </p>
                        </li>
                        <li>
                            <p class="text-white">
                                <a href="#" class="mx-2"><i class="fa fa-envelope"></i></a>
                                <a href="#"><span>support@firsthavinbk.com</span></a>
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-6">
                    <div class="footer-copyright-text">
                        <p>Copyright © 2026 First Havin Bank. All Rights Reserved.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer Copyright Section End -->

    </div>
</footer>
<!-- Footer End -->