{% load static %}

<!-- Topbar Section Start -->
<div class="topbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Topbar Information Content Start -->
                <div class="topbar-info-content">
                    <p>
                        <img src="{% static 'frontend/temp/custom/assets/images/icon-topbar-info.svg' %}" alt="">
                        Experience world class banking services with First Havin Bank International — your trusted partner
                        in global banking.
                    </p>
                </div>
                <!-- Topbar Information Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Topbar Section End -->


<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="{% url 'frontend:home' %}">
                    <img src="{% static 'frontend/custom/firsthavin-logo-white.png' %}" 
                        alt="Logo">
                    <!-- <img src="{% static 'frontend/storage/app/public/photos/13tIhKkSILyryKxw7XKFROsurhsPYAhT0XW5pWVN.jpg' %}" width="140px"
                        alt="Logo"> -->
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'frontend:home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'frontend:personal' %}">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'frontend:corperate' %}">Cooperate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'frontend:insurance' %}">Insurance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'frontend:mortgages' %}">Mortgages</a>
                            </li>
                            <li class="nav-item submenu">
                                <a class="nav-link" href="#">Sefton Savings</a>
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:savings' %}">Savings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:loans' %}">Business Loans</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:cards' %}">Credit-Cards</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:about' %}">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:contact' %}">Contact Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:contact' %}">Privacy-Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'frontend:terms' %}">Terms Of Use</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Btn Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="{% url 'account:login' %}" class="btn-login">login</a>
                        <a href="{% url 'account:register' %}" class="btn-default btn-signup">Open An Account</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->