{% extends 'emails/base.html' %}

{% block title %}
Debit Alert
{% endblock %}

{% block content %}

<h2 style="color:#d62828;">
    Debit Alert
</h2>

<p>
    Your account has been debited.
</p>

<div style="
    background:#fff5f5;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
">

    <p><strong>Amount:</strong> {{ currency }}{{ amount }}</p>

    <p><strong>Description:</strong> {{ description }}</p>

    <p><strong>Balance:</strong> {{ currency }}{{ balance }}</p>

    <p><strong>Reference:</strong> {{ reference }}</p>

</div>

{% endblock %}