{% extends './base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section Start -->
<div class="hero hero-image hero-video mb-2 p-0">
    <!-- Video Start -->
    <div class="hero-bg-video">
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'frontend/temp/custom/assets/videos/insurance.mp4' %}" type="video/mp4">
        </video>
    </div>
    <!-- Video End -->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 mt-5">
                <!-- Hero Content Start -->
                <div class="hero-content">

                    <!-- Section Title Start -->
                    <div class="section-title mt-5">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">
                            Quality insurance without the hassle
                        </h1>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            <small>
                                Our customers are at the heart of what we do, and we know how important
                                it is for you to have peace of mind. We’ve partnered with top insurance
                                providers to offer premium insurance to help protect against any unexpected costs.
                                For quality insurance without the hassle, we’ve got you covered.
                            </small>
                        </p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Hero Content Btn Start -->
                    <div class="hero-content-btn">
                        <a href="{% url 'account:register' %}" class="btn-default">Enrol</a>
                    </div>
                    <!-- Hero Content Btn End -->

                </div>
                <!-- Hero Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->


<!-- Our Expertise Section Start -->
<div class="our-expertise mt-5">
    <div class="container">

        <div class="row section-row align-items-center">
            <div class="col-lg-7">

                <div class="section-title">
                    <h3 class="wow fadeInUp">Insurance</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">
                        Explore insurance topics
                    </h2>

                    <h4 class="title">Insure your home, its contents or both</h4>

                    <p class="pera">
                        1 in 7 chance of winning back the cost of your annual home insurance premium
                        if you take out a policy. Contact Customer support for more details
                        New policies, Over 18s only, policy must be active at time of draw, Terms apply.
                        See how your data will be used in conjunction with this prize draw.
                    </p>
                </div>

            </div>

            <div class="col-lg-5">

                <div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">

                    <h4 class="title">Overview</h4>

                    <p class="pera">
                        At First Havin Bank, our customers are at the heart of what we do, and we know how
                        important it is for you to have peace of mind. We’ve partnered with top
                        insurance providers to offer premium insurance to help protect
                        against any unexpected costs. For quality insurance without the hassle,
                        we’ve got you covered.
                    </p>

                    <div class="col-12 mt-2">
                        <h4 class="title">Pet Insurance</h4>

                        <p class="pera">
                            Your four-legged friend deserves the same protection as the rest of your family, so we’ve
                            partnered with Everypaw Pet Insurance to offer
                            award-winning cover. Find out more about easy-to-manage insurance for dogs, cats and rabbits
                            with 24/7 access to vets.
                        </p>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="our-tab-nav wow fadeInUp" data-wow-delay="0.25s">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link btn-highlighted active" data-bs-toggle="tab"
                                data-bs-target="#financial">
                                Economy Checking
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="expertise-box tab-content">

                    <div class="expertise-item tab-pane fade show active" id="financial">

                        <div class="row align-items-center">

                            <div class="col-lg-6">

                                <div class="expertise-content">

                                    <div class="expertise-content-header">
                                        <h3>Trust Service *</h3>
                                        <p>
                                            This is your essential checking account and is perfect for managing everyday
                                            finances.
                                        </p>
                                    </div>

                                    <div class="expertise-content-body">

                                        <div class="expertise-list-item">
                                            <div class="icon-box">
                                                <img src="{% static 'frontend/temp/custom/assets/images/icon-expertise-list-1.svg' %}"
                                                    alt="">
                                            </div>
                                            <div class="expertise-list-content">
                                                <p>
                                                    Self-Directed Individual Retirement Accounts (SD-IRA) and Land
                                                    Trusts.
                                                    Self-directed IRAs are for those who want to invest retirement funds
                                                    in non-brokerage assets.
                                                    First Havin Bank provides more control and flexibility as custodian
                                                    services.
                                                    Please contact us for more details.
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="expertise-btn">
                                        <a href="contact.html" class="btn-default">contact now</a>
                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="expertise-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'frontend/temp/custom/assets/images/about-ban.jpg' %}"
                                            alt="">
                                    </figure>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<!-- Our Expertise Section End -->


<!-- Company Wisdom Section Start -->
<div class="company-wisdom">
  <div class="container">

    <div class="row section-row align-items-center">

      <div class="col-lg-7">

        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">financial wisdom</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Fascinating facts that shape your financial knowledge
          </h2>
        </div>
        <!-- Section Title End -->

      </div>

      <div class="col-lg-5">

        <!-- Section Title Content Start -->
        <div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">
          <p>
            Explore fun and surprising facts about the financial world at First Havin Bank.
            Learn how history, trends, and innovations have shaped today's finance landscape,
            making it easier to navigate your financial journey.
          </p>
        </div>
        <!-- Section Title Content End -->

      </div>

    </div>

  </div>
</div>
<!-- Company Wisdom Section End -->
{% endblock %}